.container {
    margin-top: 5%;
    padding 1em;
}

.credentials-form {
    padding-left: 15em;
    padding-right: 15em;
}

.credentials-form input[type=text] {
    display: block;
    padding: 1em;
}

.credentials-form input[type=password] {
    display: block;
    padding: 1em;
}

.credentials-form input[type=submit] {
    display: block;
}

#signup-info {
    padding-left: 15em;
    padding-right: 15em;
}

#failed-login {
    padding-left: 15em;
    padding-right: 15em;
}
