#player-list {
    margin-bottom: 2em;
}

/* We want a horizontal player-list in game.html */
#player-list ul > li {
    display: inline-block;
}

/* With a | as seperator */
#player-list ul > li:not(:first-child):before {
    content: " | ";
}

#nominate-form li {
    display: inline-block;
}

#nominate-form li + li {
    content " | ";
}

#nominate-form input[type=submit] {
    padding: .3em;
    display: block;
    float: right;
}

.nominees {
    margin-bottom: 2em;
}

.nominees li {
    display: inline-block;
}

.nominees li:not(:first-child):before {
    content: " | ";
}

#start-game {
    margin-top: 2em;
}

#join-game {
    margin-top: 2em;
}

#mission-link a {
    text-decoration: none;
    border-bottom: 1px black dotted;
}

#mission-link a:visited {
    text-decoration: none;
}

#navbar a:hover {
    text-decoration: none;
}

/* The game.html chat section */
#chat {
    width: inherit;
}

#form-area {
    width: inherit;
    padding-bottom: 1em;
}

/* The form for posting message */
#chat #post-message-form {
    width: inherit;
    box-sizing:border-box;
    padding: .3em;
    margin: .3em;
}

#chat textarea {
    display: inline-block;
    width: inherit;
}

#chat #post-message-form  input[type=submit] {
    padding: .3em;
    display: block;
    float: right;
}

/* The post object, which consists of an author, a creation date and some text */
#chat li {
    display: block;
    width: inherit;
    text-decoration: none;
}

/* Author should be super small */
#chat li .author {
    margin-top: 1em;
    padding-top: 1em;
    font-size: x-small;
}

/* Add a pretty border under the author */
#chat li .author:after {
    content: ' ';
    width: inherit;
    display: block;
    border: 2px solid #d0d0d0;
}
