/* Common styling between all pages */
body {
    margin: 0 auto;
    max-width: 50em;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 2em 1em;
    color: #444;
}

/* All the headers */
h1 {
    margin-top: 1em;
    padding-top: 1em;
    color: #9999ff;
}

p {
    font-size: medium;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container {
    width: 50em;
}

#navbar li {
    float: right;
    display: inline-block;
}

#navbar li:not(:first-child):after {
    content: " | ";
}

#navbar a {
    padding: .5em;
    color: #9999ff;
    text-decoration: none;
}

#navbar a:visited {
    text-decoration: none;
}

#navbar a:hover {
    text-decoration: underline;
}
