{% extends "game.html" %}

{% block player-list %}
    <p>There has to be at least 5 and at most 10 players</p>
    {{ super() }}

    {% if user_is_creator %}
    <form method="post" id=start-game action={{ url_for('start_game', game=game) }}>
        <input type=submit value="Start game">
    </form>
    {% elif not user_is_player %}
    <form method="post" id=join-game action={{ url_for('join_game', game=game) }}>
        <input type=submit value="Join game">
    </form>
    {% endif %}
{% endblock %}

{% block current-turn %}
    <p>This information will be available once the game starts</p>
{% endblock %}

{% block chat %}
    <p>Players will be able to post when {{ creator_name }} has started the game</p>
    {{ super() }}
{% endblock %}
