<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Login</title>
 
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
 
<body>
 
    <div class="container">

        <form method="post" class=form id=login-form>
            <input type=text name=username placeholder="username"><br>
            <input type=text name=password placeholder="password"><br>
            <input type=submit value=Login>
        </form>

        {% if failed %}
        <p id=failed-login><strong>Invalid credentials</strong></p>
        {% endif %}

    </div>

</body>
 
</html>
